@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  @apply bg-linear-to-br from-[#0f172a] to-[#020617] text-slate-100;
}

.card {
  @apply bg-[#1e293b] rounded-xl shadow-lg border border-white/10;
}

.sidebar-scroll {
  scrollbar-width: none;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
